<ng-container>
	<td>
		<div class="flex flex-col items-start">
			<span class="text-foreground text-sm font-semibold"> {{ sectors.nombre }} </span>
		</div>
	</td>
	<td>
		<span
			class="rounded-[30px] px-2 py-0.5 text-xs font-medium"
			[class]="sectors.estado ? 'bg-green-500/10 text-green-800' : 'bg-red-500/10 text-red-800'">
			{{ sectors.estado ? 'Activo' : 'Inactivo' }}
		</span>
	</td>
	<td>
		<div class="flex">
			<div class="tooltip" data-tip="Ver Secciones del Sector">
				<button class="block w-full px-1 py-1">
					<svg-icon src="./assets/icons/usericons/list-check-svgrepo-com.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
			<div class="tooltip" [attr.data-tip]="sectors.estado ? 'Modificar Sector' : 'Sector inactivo'">
				<button
					(click)="addUpdateSector(sectors.cods, sectors.nombre)"
					class="block w-full px-1 py-1"
					[disabled]="!sectors.estado">
					<svg-icon src="./assets/icons/usericons/add-svgrepo-com.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
			<div class="tooltip" [attr.data-tip]="sectors.estado ? 'Dar de Baja' : 'Habilitar'">
				<button
					(click)="openModalToUpdateStatus(sectors.cods, sectors.nombre, sectors.estado)"
					class="block w-full px-1 py-1">
					<svg-icon
						[src]="
							sectors.estado
								? './assets/icons/usericons/delete-2-svgrepo-com.svg'
								: './assets/icons/tablericons/repeat.svg'
						"
						[svgClass]="'h-5 w-5'">
					</svg-icon>
				</button>
			</div>
		</div>
	</td>
</ng-container>
<app-add-mod-sector (save)="addModSave($event)"> </app-add-mod-sector>
<app-alerts [type]="alertType"></app-alerts>
<app-confirm-change-status
	#confirmDialog
	[name]="selectedSector.nombre"
	[message]="confirmDialog.message"
	(confirm)="changeStatus()"></app-confirm-change-status>
