<div class="flex h-screen w-screen">
  <div class="auth-bg bg-primary hidden flex-1 items-center justify-center bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img style="margin: auto;" src="./assets/preview/crama.png" width="350" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"Impulsando la actividad comercial."</h1>
      <p class="text-xs font-light">
        En <span class="cursor-pointer font-medium text-yellow-400">C.R.A.M.A.</span>
        , nos consolidamos como la institución aliada y motor del sector comercial
         en el emblemático <span class="cursor-pointer font-medium text-yellow-400">Mercado Campesino</span>
         , dedicada a impulsar el crecimiento de comerciantes,
         productores, emprendedores y pequeñas empresas.<br>
         <span class="cursor-pointer font-medium text-yellow-400">Nuestra misión</span>
         es brindar infraestructura funcional, segura y accesible dentro del principal 
         centro de abastecimiento de la región, acompañada de servicios integrales que 
         facilitan el intercambio comercial y fortalecen la economía local y la producción regional.
      </p>
    </div>
  </div>
  <div class="bg-background flex flex-1 items-center justify-center">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center gap-3">
        <a class="bg-primary rounded-sm p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md text-foreground font-bold"> Astro </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
