<ng-container>
	<td>
		<div class="flex items-center gap-2.5">
			<img alt="user avatar" class="h-9 w-9 shrink-0 rounded-full" [src]="getUserPhoto(user.photo)" />
			<div class="flex flex-col items-start">
				<span class="text-foreground text-sm font-semibold">
					{{ user.firstName }} {{ user.secondName }} {{ user.name }}</span
				>
				<span class="text-muted-foreground/70 text-xs font-medium">
					{{ user.email }}
				</span>
			</div>
		</div>
	</td>
	<td>{{ user.cedula }}</td>
	<td>{{ user.name }}</td>
	<td>{{ user.telephone }}</td>
	<td>
		<span
			class="rounded-[30px] px-2 py-0.5 text-xs font-medium"
			[class]="user.status ? 'bg-green-500/10 text-green-800' : 'bg-red-500/10 text-red-800'">
			{{ user.status ? 'Activo' : 'Inactivo' }}
		</span>
	</td>
	<td>
		<div class="flex">
			<div class="tooltip" data-tip="Ver Usuario">
				<button (click)="viewUser(user.id)" class="block w-full px-2 py-1 text-left text-sm">
					<svg-icon src="./assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
				</button>
			</div>
			<div class="tooltip" data-tip="Modificar Usuario">
				<button (click)="addUpdateUser(user.id)" class="block w-full px-2 py-1 text-left text-sm">
					<svg-icon src="./assets/icons/usericons/add-svgrepo-com.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
				</button>
			</div>
			@if (user.status) {
			<div class="tooltip" data-tip="Dar de Baja">
				<button (click)="deleteUser(user.id, user.name)" class="block w-full px-2 py-1 text-left text-sm">
					<svg-icon src="./assets/icons/usericons/delete-2-svgrepo-com.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
				</button>
			</div>
			} @else {
			<div class="tooltip" data-tip="Habilitar">
				<button (click)="ActivateUser(user.id, user.name)" class="block w-full px-2 py-1 text-left text-sm">
					<svg-icon src="./assets/icons/tablericons/repeat.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
				</button>
			</div>
			}
		</div>
	</td>

	<app-add-mod-staff [selectedID]="selectedID" (save)="handleSave($event)"> </app-add-mod-staff>
</ng-container>
<app-alerts [type]="alertType"></app-alerts>
