<ng-container>
	<td>
		<div class="flex items-center gap-2.5">
			<div class="tooltip" data-tip="Actualizar Foto">
				<button (click)="UpdateProfileImage(user.id)">
					<img alt="user avatar" class="h-9 w-9 shrink-0 rounded-full" [src]="getUserPhoto(user.photo)" />
				</button>
			</div>
			<div class="flex flex-col items-start">
				<span class="text-foreground text-sm font-semibold">
					{{ user.firstName }} {{ user.secondName }} {{ user.name }}</span
				>
				<span class="text-muted-foreground/70 text-xs font-medium">
					{{ user.email }}
				</span>
			</div>
		</div>
	</td>
	<td>{{ user.cedula }}</td>
	@if (user.tipoper === 'Sistema') {
	<td>{{ user.usuario }}</td>
	}
	<td>{{ user.telephone }}</td>
	<td>
		<span
			class="rounded-[30px] px-2 py-0.5 text-xs font-medium"
			[class]="user.status ? 'bg-green-500/10 text-green-800' : 'bg-red-500/10 text-red-800'">
			{{ user.status ? 'Activo' : 'Inactivo' }}
		</span>
	</td>
	<td>
		<div class="flex">
			<div class="tooltip" data-tip="Ver Usuario">
				<button (click)="viewUser(user.id)" class="block w-full px-1 py-1">
					<svg-icon src="./assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
			<div class="tooltip" [attr.data-tip]="user.status ? 'Modificar Usuario' : 'Usuario inactivo'">
				<button (click)="UpdateUser(user.id, user.tipoper)" class="block w-full px-1 py-1" [disabled]="!user.status">
					<svg-icon src="./assets/icons/usericons/add-svgrepo-com.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
			@if (user.tipoper === 'Sistema') {
			<div
				class="tooltip"
				[attr.data-tip]="!user.status ? 'Usuario inactivo' : user.usuario ? 'Modificar clave' : 'Asignar usuario'">
				<button
					(click)="addUpdateCredentials(user.id, user.usuario, user.cedula)"
					class="block w-full px-1 py-1"
					[disabled]="!user.status">
					<svg-icon
						[src]="
							user.usuario
								? './assets/icons/usericons/padlock-outlined-svgrepo-com.svg'
								: './assets/icons/usericons/padlock-unlocked-outlined-svgrepo-com.svg'
						"
						[svgClass]="'h-5 w-5'">
					</svg-icon>
				</button>
			</div>
			<div class="tooltip" [attr.data-tip]="!user.status ? 'Usuario inactivo' : 'Asignar rol usuario'">
				<button (click)="roleAssignment(user.id)" class="block w-full px-1 py-1" [disabled]="!user.status">
					<svg-icon src="assets/icons/usericons/list-check-svgrepo-com.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
			}
			<div class="tooltip" [attr.data-tip]="user.status ? 'Dar de Baja' : 'Habilitar'">
				<button
					(click)="
						openModalToUpdateStatus(user.id, user.firstName + ' ' + user.secondName + ' ' + user.name, user.status)
					"
					class="block w-full px-1 py-1">
					<svg-icon
						[src]="
							user.status
								? './assets/icons/usericons/delete-2-svgrepo-com.svg'
								: './assets/icons/tablericons/repeat.svg'
						"
						[svgClass]="'h-5 w-5'">
					</svg-icon>
				</button>
			</div>
			<div class="tooltip" [attr.data-tip]="user.status ? 'Cambiar Tipo Usuario' : 'Usuario inactivo'">
				<button
					(click)="
						openModalToUpdateType(user.id, user.firstName + ' ' + user.secondName + ' ' + user.name, user.tipoper)
					"
					class="block w-full px-1 py-0.5"
					[disabled]="!user.status">
					<svg-icon src="./assets/icons/heroicons/outline/user-circle.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
		</div>
	</td>

	<app-credential-staff (save)="addModSaveCredential($event)"> </app-credential-staff>
	<app-view-staff> </app-view-staff>
	<app-update-image (save)="ImageUpdated($event)"> </app-update-image>
	<app-role-assignment (save)="roleAssignmentUpdated($event)"> </app-role-assignment>
</ng-container>
<app-alerts [type]="alertType"></app-alerts>
<app-confirm-change-status
	#confirmDialog
	[name]="selectedUser?.name"
	[message]="confirmDialog.message"
	(confirm)="changeStatus()"></app-confirm-change-status>
@if(typeModalOpen){
<div class="modal modal-open">
	<div class="modal-box bg-background border-border max-w-md border">
		<h2 class="mb-4 text-lg font-semibold">mover a: {{ selectedUser?.name }} a cargo de</h2>
		<button (click)="closeTypeModal()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		<div class="space-y-2">
			@for (option of userTypes; track option) {
			<label class="flex items-center gap-2">
				<input
					type="radio"
					class="radio"
					[value]="option"
					name="userType"
					[checked]="selectedUser.type === option"
					(change)="selectedType = option" />
				{{ option }}
			</label>
			}
		</div>

		<div class="mt-6 flex justify-end gap-2">
			<button class="btn" (click)="closeTypeModal()">Cancelar</button>
			<button class="btn btn-primary" (click)="changeType()">Confirmar</button>
		</div>
	</div>
</div>
}
