<dialog #userDialog class="modal">
	<div class="modal-box bg-background border-border border">
		<h3 class="mb-4 text-lg font-bold">Detalles del Personal</h3>
		<button (click)="close()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

		<form [formGroup]="form" enctype="multipart/form-data">
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input
							type="text"
							id="name"
							class="peer block"
							placeholder=" "
							formControlName="name"
							autocomplete="given-name" />
						<label for="name" class="floating-label"> Nombres </label>
					</div>
					<app-validation [control]="f['name']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="firstName" class="peer block" placeholder=" " formControlName="firstName" />
						<label for="firstName" class="floating-label"> Primer Apellido </label>
					</div>
					<app-validation [control]="f['firstName']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="secondName" class="peer block" placeholder=" " formControlName="secondName" />
						<label for="secondName" class="floating-label"> Segundo Apellido </label>
					</div>
				</div>
			</div>
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="cedula" class="peer block" placeholder=" " formControlName="cedula" />
						<label for="cedula" class="floating-label"> Dni </label>
					</div>
					<app-validation [control]="f['cedula']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input
							type="date"
							id="datebirth"
							class="peer block"
							placeholder=" "
							formControlName="datebirth"
							onkeydown="return false"
							onclick="this.showPicker && this.showPicker()" />
						<label for="datebirth" class="floating-label"> Fecha Nacimiento </label>
					</div>
					<app-validation [control]="f['datebirth']" [submitted]="submitted"></app-validation>
				</div>
			</div>
			<div class="mb-4 flex gap-2">
				<div class="form__group flex w-full flex-col gap-2">
					<div class="relative">
						<label class="flex items-center gap-2" for="genderM">
							<input
								type="radio"
								formControlName="gender"
								id="genderM"
								name="gender"
								value="M"
								class="radio radio-xs" />
							<span>Masculino</span>
						</label>
						<label class="flex items-center gap-2" for="genderF">
							<input
								type="radio"
								formControlName="gender"
								id="genderF"
								name="gender"
								value="F"
								class="radio radio-xs" />
							<span>Femenino</span>
						</label>
					</div>
					<app-validation [control]="f['gender']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="telephone" class="peer block" placeholder=" " formControlName="telephone" />
						<label for="telephone" class="floating-label"> Telefono </label>
					</div>
					<app-validation [control]="f['telephone']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input
							type="text"
							id="email"
							class="peer block"
							placeholder=" "
							formControlName="email"
							autocomplete="email" />
						<label for="email" class="floating-label"> Correo </label>
					</div>
					<app-validation [control]="f['email']" [submitted]="submitted"></app-validation>
				</div>
			</div>
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input
							type="file"
							id="photo"
							class="file-input file-input-sm peer block"
							placeholder=" "
							accept="image/*"
							(change)="onFileSelected($event)" />
					</div>
					<app-validation [control]="f['photo']" [submitted]="submitted"></app-validation>
				</div>
			</div>

			<div class="modal-action">
				<button type="button" class="btn" (click)="close()">Cerrar</button>
				<button type="submit" class="btn btn-primary" (click)="onPreSubmit()">Aceptar</button>
			</div>
		</form>
	</div>
</dialog>

<app-confirm-dialog #confirmModal [message]="'¿Estás seguro?'" (confirm)="saveData()"></app-confirm-dialog>
