<form class="my-10 mx-auto w-full space-y-6 md:w-1/2" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="text-center">
		<h2 class="text-foreground mb-1 text-3xl font-semibold">Nueva Contraseña <span class="text-primary">!</span></h2>
	</div>

	<div class="space-y-3 text-left">
		<div class="relative">
			<input type="text" id="user" class="peer block" placeholder="" [value]="userData.otherParams.username" disabled />
			<label
				for="user"
				class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
				Usuario
			</label>
		</div>

		<div class="form__group">
			<div class="relative">
				<input
					[type]="passwordTextType ? 'text' : 'password'"
					id="password"
					[ngClass]="{ 'is__invalid-input': submitted && f['password'].errors }"
					class="peer block"
					placeholder=" "
					formControlName="password" />
				<label
					for="password"
					[ngClass]="{ 'peer-focus:text-destructive!': submitted && f['password'].errors }"
					class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
					Contraseña
				</label>
				<span
					class="text-muted-foreground absolute top-2 cursor-pointer ltr:right-3 rtl:left-3"
					(click)="toggleVisibility('passwordTextType')">
					<svg-icon
						[src]="
							!passwordTextType
								? 'assets/icons/heroicons/outline/eye-off.svg'
								: 'assets/icons/heroicons/outline/eye.svg'
						"
						[svgClass]="'h-5 w-5'">
					</svg-icon>
				</span>
			</div>

			<!-- Mensajes de error -->
			<div *ngIf="submitted && f['password'].errors" class="is__invalid-error">
				<div *ngIf="f['password'].errors['required']">Campo obligatorio</div>
				<div *ngIf="f['password'].errors['minlength']">Debe tener al menos 3 caracteres</div>
				<div *ngIf="f['password'].errors['maxlength']">No puede exceder 50 caracteres</div>
			</div>
		</div>

		<div class="form__group">
			<div class="relative">
				<input
					[type]="confirmPasswordTextType ? 'text' : 'password'"
					id="password2"
					[ngClass]="{ 'is__invalid-input': submitted && f['password2'].errors }"
					class="peer block"
					placeholder=" "
					formControlName="password2" />
				<label
					for="password2"
					[ngClass]="{ 'peer-focus:text-destructive!': submitted && f['password2'].errors }"
					class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
					Confirmar Contraseña
				</label>
				<span
					class="text-muted-foreground absolute top-2 cursor-pointer ltr:right-3 rtl:left-3"
					(click)="toggleVisibility('confirmPasswordTextType')">
					<svg-icon
						[src]="
							!confirmPasswordTextType
								? 'assets/icons/heroicons/outline/eye-off.svg'
								: 'assets/icons/heroicons/outline/eye.svg'
						"
						[svgClass]="'h-5 w-5'">
					</svg-icon>
				</span>
			</div>

			<!-- Mensajes de error -->
			<div *ngIf="submitted && f['password2'].errors" class="is__invalid-error">
				<div *ngIf="f['password2'].errors['required']">Campo obligatorio</div>
				<div *ngIf="f['password2'].errors['minlength']">Debe tener al menos 3 caracteres</div>
				<div *ngIf="f['password2'].errors['maxlength']">No puede exceder 50 caracteres</div>
			</div>
		</div>
		<!-- Password Meeter -->
		<div class="grid grid-cols-4 gap-2">
			<div class="rounded-xs bg-muted h-1"></div>
			<div class="rounded-xs bg-muted h-1"></div>
			<div class="rounded-xs bg-muted h-1"></div>
			<div class="rounded-xs bg-muted h-1"></div>
		</div>

		<span class="text-muted-foreground text-xs">
			Recomendacion: usar 8 o más caracteres con una combinación de letras, números y símbolos.
		</span>
	</div>

	<!-- Submit Button -->
	<div>
		<app-button full impact="bold" tone="primary" shape="rounded" size="medium">Sign up</app-button>
	</div>
</form>
