@if (showModal) {
<div class="modal modal-open">
	<div class="modal-box bg-background border-border border">
		<h3 class="mb-4 text-lg font-bold">Detalles del Personal</h3>
		<button (click)="close()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		<form [formGroup]="form" enctype="multipart/form-data">
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input
							type="text"
							id="nombre"
							class="peer block"
							placeholder=" "
							formControlName="nombre"
							autocomplete="given-name" />
						<label for="nombre" class="floating-label"> Nombres </label>
					</div>
					<app-validation [control]="f['nombre']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="ap" class="peer block" placeholder=" " formControlName="ap" />
						<label for="ap" class="floating-label"> Primer Apellido </label>
					</div>
					<app-validation [control]="f['ap']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="am" class="peer block" placeholder=" " formControlName="am" />
						<label for="am" class="floating-label"> Segundo Apellido </label>
					</div>
				</div>
			</div>
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="cedula" class="peer block" placeholder=" " formControlName="cedula" />
						<label for="cedula" class="floating-label"> Dni </label>
					</div>
					<app-validation [control]="f['cedula']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="celular" class="peer block" placeholder=" " formControlName="celular" />
						<label for="celular" class="floating-label"> Telefono </label>
					</div>
					<app-validation [control]="f['celular']" [submitted]="submitted"></app-validation>
				</div>
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="direc" class="peer block" placeholder=" " formControlName="direc" />
						<label for="direc" class="floating-label"> Direccion </label>
					</div>
				</div>
			</div>
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<app-file-upload
						[emptyMessage]="'Arrastra la imagen de perfil o haz clic para subir'"
						(fileSelected)="onFileSelected($event)"></app-file-upload>
					<app-validation [control]="f['photo']" [submitted]="submitted"></app-validation>
				</div>
			</div>

			<div class="modal-action">
				<button type="button" class="btn" (click)="close()">Cerrar</button>
				<button type="button" class="btn btn-primary" (click)="onPreSubmit()">Aceptar</button>
			</div>
		</form>
	</div>
	<app-confirm-dialog #confirmModal [message]="'¿Estás seguro?'" (confirm)="saveData()"></app-confirm-dialog>
</div>
}
