<div class="mb-4 flex justify-between">
	<div class="inline-block">
		<h3 class="text-foreground font-semibold">Mienbros de Empresa</h3>
		<div class="text-muted-foreground space-x-1 text-xs font-medium">
			<a href="" class="hover:text-primary">Total Equipo:</a>
			<span class="text-foreground">22</span>
		</div>
	</div>
	<div class="inline-block space-x-4">
		<button
			class="bg-muted text-muted-foreground hover:text-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold">
			Importar CSV
		</button>
		<button class="bg-primary text-primary-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold">
			Nuevo Usuario
		</button>
	</div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
	<div
		class="scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted grow overflow-x-auto px-5">
		<table
			class="text-muted-foreground table w-full table-auto border-collapse border-0 text-left align-middle leading-5">
			<thead class="border-muted/20 text-muted-foreground border text-xs">
				<tr>
					<th class="min-w-[300px]">Nombres y Apellidos</th>
					<th class="min-w-[180px]">Nombre de Usuario</th>
					<th class="min-w-[180px]">Estado</th>
					<th class="min-w-[150px]">Telefono</th>
					<th class="w-[60px]"></th>
				</tr>
			</thead>
		</table>
	</div>
</div>
