<div class="border-muted/30 flex-1 flex-col rounded-xl border p-2">
	<div class="pb-3 filter">
		<input
			class="btn bg-primary text-primary-foreground filter-reset flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			[value]="'all'"
			[checked]="_getRentalService.view() === 'all'"
			(click)="_getRentalService.setView('all', 0)"
			aria-label="All" />

		<input
			class="btn bg-primary text-primary-foreground flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			[value]="'sectores'"
			[checked]="_getRentalService.view() === 'sectores'"
			(click)="_getRentalService.setView('sectores', 0)"
			aria-label="sectores" />

		<input
			class="btn bg-primary text-primary-foreground flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			[checked]="_getRentalService.view() === 'secciones'"
			(click)="_getRentalService.setView('secciones', 0)"
			aria-label="secciones" />

		<input
			class="btn bg-primary text-primary-foreground flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			[value]="'predios'"
			[checked]="_getRentalService.view() === 'predios'"
			(click)="_getRentalService.setView('predios', 0)"
			aria-label="predios" />
	</div>

	@if (_getRentalService.view() === 'all' || _getRentalService.view() === 'sectores') {
	<app-list-rental-sectors></app-list-rental-sectors>
	} @else if (_getRentalService.view() === 'secciones') {
	<app-list-rental-sections></app-list-rental-sections>
	} @else if (_getRentalService.view() === 'predios') { holi predio }
</div>
