<div class="border-muted/30 flex-1 flex-col rounded-xl border p-2">
	<div class="pb-3 filter">
		<input
			class="btn bg-primary text-primary-foreground filter-reset flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			aria-label="All" />
		<input
			class="btn bg-primary text-primary-foreground flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			aria-label="sectores" />
		<input
			class="btn bg-primary text-primary-foreground flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			aria-label="secciones" />
		<input
			class="btn bg-primary text-primary-foreground flex-none rounded-md border-0 p-2 text-xs font-semibold"
			type="radio"
			name="metaframeworks"
			aria-label="predios" />
	</div>
	<app-list-rental-sectors></app-list-rental-sectors>
</div>
