<ng-container>
	<td>
		<div class="flex flex-col items-start">
			<span class="text-foreground text-sm font-semibold"> {{ tenant.nombre }} {{ tenant.ap }} {{ tenant.am }}</span>
		</div>
	</td>
	<td>{{ tenant.cedula }}</td>
	<td>{{ tenant.celular }}</td>
	<td>{{ tenant.direc }}</td>
	<td>
		<span
			class="rounded-[30px] px-2 py-0.5 text-xs font-medium"
			[class]="tenant.estado ? 'bg-green-500/10 text-green-800' : 'bg-red-500/10 text-red-800'">
			{{ tenant.estado ? 'Activo' : 'Inactivo' }}
		</span>
	</td>
	<td>
		<div class="flex">
			<div class="tooltip" data-tip="Ver Inquilino">
				<button (click)="viewTenant(tenant.id)" class="block w-full px-1 py-1">
					<svg-icon src="./assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
			<div class="tooltip" data-tip="Actualizar Ubicacion Inquilino">
				<button
					(click)="toggleMap(tenant.id, tenant.ubicacion_gps?.latitude, tenant.ubicacion_gps?.longitude)"
					class="block w-full px-1 py-1">
					<svg-icon
						src="./assets/icons/usericons/location-information-svgrepo-com.svg"
						[svgClass]="'h-5 w-5'"></svg-icon>
				</button>
			</div>
			<div class="tooltip" [attr.data-tip]="tenant.estado ? 'Modificar Usuario' : 'Usuario inactivo'">
				<button (click)="UpdateUser(tenant.id)" class="block w-full px-1 py-1" [disabled]="!tenant.estado">
					<svg-icon src="./assets/icons/usericons/add-svgrepo-com.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</div>
			<div class="tooltip" [attr.data-tip]="tenant.estado ? 'Dar de Baja' : 'Habilitar'">
				<button
					(click)="openModalToUpdateStatus(tenant.id, tenant.nombre + ' ' + tenant.ap + ' ' + tenant.am, tenant.estado)"
					class="block w-full px-1 py-1">
					<svg-icon
						[src]="
							tenant.estado
								? './assets/icons/usericons/delete-2-svgrepo-com.svg'
								: './assets/icons/tablericons/repeat.svg'
						"
						[svgClass]="'h-5 w-5'">
					</svg-icon>
				</button>
			</div>
		</div>
	</td>

	<app-view-tenant> </app-view-tenant>
	@if(showMap) {
	<div class="modal modal-open">
		<div class="modal-box bg-background border-border border">
			<h3 class="text-lg font-bold">Actualizar Ubicacion Global</h3>
			<button (click)="closeMap()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
			<app-open-street-map
				[latitude]="latitude"
				[longitude]="longitude"
				[readOnly]="false"
				(locationChanged)="onLocationChanged($event)"></app-open-street-map>
			<div class="modal-action">
				<button type="button" class="btn" (click)="closeMap()">Cerrar</button>
				<button type="button" class="btn btn-primary" (click)="saveLocation()">Guardar</button>
			</div>
		</div>
	</div>
	}
</ng-container>
<app-alerts [type]="alertType"></app-alerts>
<app-confirm-change-status
	#confirmDialog
	[name]="selectedtenant.nombre"
	[message]="confirmDialog.message"
	(confirm)="changeStatus()"></app-confirm-change-status>
