@if (showModal) {
<div class="modal modal-open">
	<div class="modal-box bg-background border-border max-w-sm border">
		<h3 class="mb-4 text-lg font-bold">
			{{ selectedUserCredential ? 'Actualizar datos usuario' : 'Registrar nuevo usuario' }}
		</h3>
		<button (click)="close()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		<form [formGroup]="form">
			@if (!selectedUserCredential) {
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="usuario" class="peer block" placeholder=" " formControlName="usuario" />
						<label for="usuario" class="floating-label"> Nombre de Usuario </label>
					</div>
					<app-validation [control]="f['usuario']" [submitted]="submitted"></app-validation>
				</div>
			</div>
			}
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="password" class="peer block" placeholder=" " formControlName="password" />
						<label for="password" class="floating-label"> Contraseña </label>
					</div>
					<app-validation [control]="f['password']" [submitted]="submitted"></app-validation>
				</div>
			</div>
			<div class="mb-4 flex gap-2">
				<div class="form__group w-full">
					<div class="relative">
						<input type="text" id="password2" class="peer block" placeholder=" " formControlName="password2" />
						<label for="password2" class="floating-label"> Confirmar Contraseña</label>
					</div>
					<app-validation [control]="f['password2']" [submitted]="submitted"></app-validation>
				</div>
			</div>
			<div class="grid grid-cols-4 gap-2">
				<div class="rounded-xs bg-muted h-1"></div>
				<div class="rounded-xs bg-muted h-1"></div>
				<div class="rounded-xs bg-muted h-1"></div>
				<div class="rounded-xs bg-muted h-1"></div>
			</div>

			<span class="text-muted-foreground text-xs">
				Recomendacion: usar 8 o más caracteres con una combinación de letras, números y símbolos.
			</span>

			<div class="modal-action">
				<button type="button" class="btn" (click)="close()">Cerrar</button>
				<button type="submit" class="btn btn-primary" (click)="onPreSubmit()">Aceptar</button>
			</div>
		</form>
	</div>
	<app-confirm-dialog #confirmModal [message]="'¿Estás seguro?'" (confirm)="saveData()"></app-confirm-dialog>
</div>
}
